html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 2000;
  padding: 0.75rem 1rem;
  background: $primary;
  color: $text-white;
  border-radius: 0.25rem;
}

.skip-link:focus {
  left: 1rem;
  top: 1rem;
}

a:focus-visible,
button:focus-visible,
[role="button"]:focus-visible {
  outline: 3px solid $primary;
  outline-offset: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
}

.projects-header {
  padding-top: 2rem;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
