<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <a class="skip-link" href="#main-content">Skip to main content</a>

  {% include navbar.html %}

  <main id="main-content" tabindex="-1">
    {{ content }}
  </main>

  {% include footer.html %}
  {% include avatar.html %}
  {% include controls.html %}
  {% include scripts.html %}
  {%- assign asset_ver = site.github.build_revision | default: site.time | date: '%s' -%}
  <script src="{{ '/assets/js/avatar.js' | relative_url }}?v={{ asset_ver }}" defer></script>
</body>

</html>
